<div class="remove-container container-block">
  <h2 class="container-block-title">
    Skill and Proficiency
  </h2>

  <label for="file">GCP</label>
  <progress id="file" value="95" max="100"> 90% </progress>

  <label for="file">AWS</label>
  <progress id="file" value="88" max="100"> 88% </progress>

  <ul>
    <li>GCP</li>
    <li>AWS</li>
    <li>Linux</li>
    <li>DevOps</li>
    <li>Terraform</li>
    <li>ansible</li>
    <li>Python/shell</li>
  </ul>
  
</div><!--//Proficiency-change-in-about-->