<div class="remove-container container-block">
  <h2 class="container-block-title">
    Skill and Proficiency
  </h2>
<pre>
  <label for="file">GCP</label>
  <progress id="file" value="95" max="100"> 90% </progress>

  <label for="file">AWS</label>
  <progress id="file" value="88" max="100"> 88% </progress>

  <label for="file">Linux</label>
  <progress id="file" value="98" max="100"> 98% </progress>

  <label for="file">Terraform</label>
  <progress id="file" value="90" max="100"> 90% </progress>

  <label for="file">DevOps</label>
  <progress id="file" value="95" max="100"> 95% </progress>

  <label for="file">Shell/Python</label>
  <progress id="file" value="98" max="100"> 98% </progress>  
</pre>
  
<ul>
    <li>GCP</li>
    <li>AWS</li>
    <li>Linux</li>
    <li>DevOps</li>
    <li>Terraform</li>
    <li>ansible</li>
    <li>Python/shell</li>
  </ul>
  
</div><!--//Proficiency-change-in-about-->