<div class="remove-container container-block">
  <h2 class="container-block-title">
    Skills Proficiency
  </h2>
<ul style="list-style-type:circle">
  <li>GCP</li>
  <li>AWS</li>
  <li>Linux</li>
  <li>DevOps</li>
</ul>

</br></br>
  
  <h2 class="container-block-title">
    Coding Languages 
  </h2> 
  
<ul style="list-style-type:circle">
  <li>Ansible</li>
  <li>Python</li>
  <li>Shell/bash</li>
</ul>

</div><!--//Proficiency-change-in-about-->
<!--  
<ul class="list-unstyled interests-list">
<pre>
  <label for="file">GCP</label>
  <progress id="file" value="95" max="100"> 90% </progress>

  <label for="file">AWS</label>
  <progress id="file" value="88" max="100"> 88% </progress>

  <label for="file">Linux</label>
  <progress id="file" value="98" max="100"> 98% </progress>

  <label for="file">Terraform</label>
  <progress id="file" value="90" max="100"> 90% </progress>

  <label for="file">DevOps</label>
  <progress id="file" value="95" max="100"> 95% </progress>

  <label for="file">Shell/Python</label>
  <progress id="file" value="98" max="100"> 98% </progress>  
</pre>
</ul>

<style>
ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
</style>
   
<ul class="no-bullets">
    <li>GCP</li>
    <li>AWS</li>
    <li>Linux</li>
    <li>DevOps</li>
    <li>Terraform</li>
    <li>Ansible</li>
    <li>Python</li>
    <li>Bash/Shell</li>
    <li>CI/CD</li>
  </ul>
-->
